<div>
    <form novalidate class="simple-form">
        E-mail: <input type="email" ng-model="user.email"/><br/>
        Username: <input type="text" ng-model="user.username"/><br/>
        password: <input type="password" ng-model="user.password"/><br/>
        Gender: <input type="radio" ng-model="user.gender" value="male"/>male
        <input type="radio" ng-model="user.gender" value="female"/>female<br/>
        <input type="button" ng-click="reset()" value="Reset"/>
        <input type="submit" ng-click="userCtrl.register(user)" value="Save"/>
    </form>
    {{ userCtrl.greeting }}
</div>
